.header {
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: start;

    padding-left: 62px;
    background-color: #2196F3;

    box-shadow: 0 4px 4px #0000003D;
}

.section {
    height: 100%;
    padding: 0 23px;
    background-color: #2196F3;

    align-content: center;

    color: #FFFFFFB2;
    cursor: pointer;
}

.activeSection {
    background-color: #1E88E5;

    color: #FFFFFF;
}